
ion-content.Home {
  --background: none;
  background-image: url('../../shirts.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container1 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  transform: translateY(-50%);
}

.divclass {
  text-align: center;
  position: absolute;
  left: 50px;
  right: 20px;
  top: 69%;
  width: 75%;
  transform: translateY(-50%);
}


ion-input.inputText {
  --color: #020202;
  --placeholder-color: #868686;
  --placeholder-opacity: 0.8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;

  margin-top: 15px;
  margin-bottom: 15px;
  width: 362px;
  font-family: 'Inter';

  border: solid;
  border-width: 1px;
  border-radius: 5px;

  --border-color: #034924;
}

ion-button.Homebtn {
  --background: #fff;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  font-family: 'Inter';
  width: 365px;

  --color: rgb(0, 0, 0);

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

ion-button.paymentBtn2 {
  --background: #fff;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  font-family: 'Inter';

  --color: rgb(7, 90, 26);

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --border-color: #034924;
}

ion-segment-button {
  --indicator-color: #006A55;
  --color: #000;
  --color-checked: #fff;

}

